<h1>BLOG PAGE</h1>
</br></br></br></br>
<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<% @blogs.each do |blog| %>
			<div class="card">
			  <div class="card-body">
			  	<img  src="tom_pic.jpg" alt="Tom and Jerry" width="60%">
			    <h4 class="card-title"><%= blog.title %></h4>
			    <h6 class="card-subtitle mb-2 text-muted"><%= blog.user.user_name %></h6>
			    <p class="card-text"><%= blog.content %></p>
			    <a href="<%= blog_path(blog.id)%>" class="card-link">Read more</a>
			  </div>
			</div>
			</br></br>
			<% end %>
		</div>
	</div>
	</br></br></br></br>
</div>
