</br></br></br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-offset-3">
			<div class="card" style="width: 20rem;">
			  <img class="card-img-top" src="1412410_pic.jpg" alt="Phạm Sĩ Phú">
			  <div class="card-body">
			    <h4 class="card-title">Phạm Sĩ Phú</h4>
			    <p class="card-text">
			    	MSSV:1412410 <br>Email: psphu96@gmail.com <br> Phone: 0933209424
			    </p>
			    <img src="1412410_cor.jpg" alt="Phu's house" width="100%">
			  </div>
			</div>
		</div>&nbsp&nbsp&nbsp&nbsp
		<div class="col-md-3 col-md-offset 3">
			<div class="card" style="width: 20rem;">
			  <img class="card-img-top" src="1412105_pic.jpg" alt="Ngô Tiến Dũng">
			  <div class="card-body">
			    <h4 class="card-title">Ngô Tiến Dũng</h4>
			    <p class="card-text">
			    	MSSV:1412105 <br>Email: dotiendung@gmail.com <br> Phone: 0969529915
			    </p>
			    <img src="1412105_cor.jpg" alt="Dung's house" width="100%">
			  </div>
			</div>
		</div>
	</div>
</div>
</br></br></br>